// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import '~vuetify/src/styles/styles.sass';

// $body-font-family: 'Poppins', 'sans-serif' !default;
$body-font-family: 'Poppins';
$heading-font-family: 'Montserrat';
$font-size-root: 12px;

$material-dark: map-merge(
  $material-dark,
  (
    'background':
      var(--v-background-base, map-get($material-dark, 'background')),
    'app-bar': #121227,
  )
);
